.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Планшеты */
@media (min-width: 768px) and (max-width: 1024px) {
    .content {
        padding: 0 20px;
    }
}

/* Мобильные устройства */
@media (max-width: 767px) {
    .content {
        padding: 0 15px;
    }
}
