.main-mobile {
    width: 100%;
    height: 50vh;
    position: relative;
    margin-top: 14px;
}
.main-mobile .slider {
    position: relative;
    width: 100%;
    height: 89.5%;
}
.main-mobile .slide {
    display: none;
}
.main-mobile .slide.active {
    display: block;
}
.main-mobile .buttons {
    display: flex;
    justify-content: space-between;
    font-size: 4.375vw;
    font-family: 'Actay';
}