.main-mobile {
    width: 100%;
    position: relative;
    margin-top: 4.825%;
    background-color: black;
}
.main-mobile .slider {
    position: relative;
    width: 100%;
    height: 79.375vw;
}
.main-mobile .slide {
    display: none;
}
.main-mobile .slide.active {
    display: block;
}
.main-mobile .buttons {
    display: flex;
    justify-content: space-between;
    font-size: 4.375vw;
    font-family: 'Actay';
    margin-bottom: 4.8%;
}