.main {
    width: 1140px;
    margin-top: 48px;
    position: relative;
    height: 496px;
}
.element {
    width: 301px;
    height: 89px;
    position: absolute;
}
.element .text-content {
    box-sizing: border-box;
    width: 286px;
    height: 79px;
    border: white 3px solid;
    position: absolute;
    bottom: 0;
    border-radius: 35px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Actay';
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.545);
    background-color: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(15px);
}
.element .text-content .number {
    width: 51px;
    height: 51px;
    aspect-ratio: 1/1;
    background-color: rgb(94, 118, 0);
    border-radius: 50%;
    color: #F6FFD2;
    border: white 1px solid;
    font-size: 36px;
    text-align: center;
    line-height: 56px;
}
.element .text-content .text {
    width: 195px;
    font-size: 14px;
    line-height: 130%;
    color: #F6FFD2;
}
.element svg {
    position: absolute;
    right: -12px;
    top: -12px;
    width: 44px;
    height: 61px;
}


@media (max-width: 400px) {
    .element {
        width: 96.877vw;
        height: 232px;
    }
    .element .text-content {
        width: 90.625vw;
        height: 93.535%;
        flex-direction: column;
        backdrop-filter: blur(3px);
    }
    .element .text-content .number {
        width: 22.63vw;
        height: 22.63vw;
        font-size: 17vw;
        line-height: 150%;
    }
    .element .text-content .text {
        text-align: center;
        font-size: 87.5%;
    }
    .element svg {
        width: 24vw;
        height: 24vw;
        right: -8vw;
        top: -4.5vw;
    }
}