.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90.7vw;
    height: 12.5vw;
    margin-top: 9.375vw;
    font-size: 6.25vw;
    line-height: 100%;
}
.header-mobile span {
    width: 12.5vw;
    height: 12.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mobile .bg-menu {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.614);
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: transform .3s ease, visibility .3s ease;
}
.header-mobile .bg-menu.visible {
    visibility: visible;
    opacity: 1;
}
.header-mobile .menu {
    font-family: 'Actay';
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 252px;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transform: translateY(-100%);
    visibility: hidden;
    transition: transform .5s ease, visibility .5s ease;
}
.header-mobile .menu.visible {
    transform: translateY(0);
    visibility: visible;
}
.header-mobile .menu .menu-header {
    width: 90.625vw;
    height: 12.5vw;
    margin-top: 9.38%;
    display: flex;
    justify-content: space-between;
}
.header-mobile .menu .menu-header span:first-child {
    width: 30.345%;
    color: #F2F3EF;
}
.header-mobile .menu .menu-header span:last-child {
    width: 38.75vw;
    font-size: 3.75vw;
    white-space: nowrap;
    color: black;
}
.header-mobile .menu .menu-nav {
    width: 50.63%;
    height: 52.4%;
    margin-top: 6.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.header-mobile .menu .menu-nav .section-1 {
    width: 53%;
    height: 25.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header-mobile .menu .menu-nav .section-1 span {
    width: 100%;
    height: 21%;
    font-size: 4.4vw;
    white-space: nowrap;
    line-height: 100%;
}
.header-mobile .menu .menu-nav .section-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-mobile .menu .menu-nav div div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 21px;
}
.header-mobile .menu .menu-nav div div:first-child span:first-child {
    width: 96px;
    font-size: 4.4vw;
    white-space: nowrap;
    text-transform: uppercase;
}
.header-mobile .menu .menu-nav div div:first-child span:last-child {
    width: 16px;
    height: 16px;
}
.header-mobile .menu .menu-nav div div:last-child {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 4px;
}