.bg {
    height: 100%;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-position: center 80%;
    background-attachment: fixed;
    position: relative;
}
.bg-darker {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index: 0;
}
.main-content {
    position: relative;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
}


@media (max-width: 400px) {  
    .bg {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: 70% -35px;
    }
    .main-content {
        overflow-x: hidden;
    }
}